<div class="pid-section p-2">
  <div class="header d-flex align-items-center">
    <h5 class="mr-auto">PID - {{ 'sections.pid.title' | translate }}</h5>
    <button pButton type="button" icon="pi pi-chevron-down" [title]="'action.expand' | translate" (click)="handleExpand()" class="mr-2"></button>
    <button pButton type="button" icon="pi pi-trash" [title]="'action.remove' | translate" (click)="handleRemove()" class="ui-button-danger mr-0"></button>
  </div>
  <div class="fields">
    <div class="field" *ngFor="let field of section.fields">
      <div class="header p-1">
        <button *ngIf="!field.expanded" pButton type="button" icon="pi pi-plus" [title]="'action.add' | translate" (click)="handleAddField(field.number)" class="ui-button-success mr-3"></button>
        <button *ngIf="field.expanded" pButton type="button" icon="pi pi-chevron-up" [title]="'action.remove' | translate" (click)="handleRemoveField(field.number)" class="ui-button-secondary mr-3"></button>
        <span class="tag mr-2">PID.{{ field.number }}</span>
        <span class="name">{{ field.i18n | translate }}</span>
      </div>
      <div class="content p-1" *ngIf="field.expanded" [ngSwitch]="field.type">
        <div *ngSwitchCase="'string'">
          <input pInputText [(ngModel)]="field.value" type="text" (onchange)="handleChange()" />
        </div>
        <div *ngSwitchCase="'date'">
          <p-calendar [(ngModel)]="field.value" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050" (onSelect)="handleChange()" (onChange)="handleChange()"></p-calendar>
        </div>
        <div *ngSwitchDefault>(unidentified type)</div>
      </div>
    </div>
  </div>
</div>
