.hl7-textarea {
  min-height: 200px;
  width: 100%;
}

.sections .section {
  border-bottom: 1px solid #ddd;
}

.actions button {
  margin-right: .5rem !important;
}

.navbar {
  .configuration button {
    font-size: 0.98em;
  }
}

.filter-item {
  span,
  small {
    display: block;
  }
}
