<div id="home" class="d-flex flex-column align-items-stretch">
  <page-header></page-header>

  <div class="row">
    <div class="col d-flex flex-column justify-content-start">
      <h4 class="mb-2">{{ 'actions.add' | translate }}</h4>
      <div class="add">
        <button pButton type="button" icon="pi pi-plus" label="MRG" [title]="'sections.mrg.title' | translate" (click)="addSection('MRG')" class="mr-2"></button>
        <button pButton type="button" icon="pi pi-plus" label="MSH" [title]="'sections.msh.title' | translate" (click)="addSection('MSH')" class="mr-2"></button>
        <button pButton type="button" icon="pi pi-plus" label="OBR" [title]="'sections.obr.title' | translate" (click)="addSection('OBR')" class="mr-2"></button>
        <button pButton type="button" icon="pi pi-plus" label="OBX" [title]="'sections.obx.title' | translate" (click)="addSection('OBX')" class="mr-2"></button>
        <button pButton type="button" icon="pi pi-plus" label="ORC" [title]="'sections.orc.title' | translate" (click)="addSection('ORC')" class="mr-2"></button>
        <button pButton type="button" icon="pi pi-plus" label="PID" [title]="'sections.pid.title' | translate" (click)="addSection('PID')" class="mr-2"></button>
        <button pButton type="button" icon="pi pi-plus" label="PV1" [title]="'sections.pv1.title' | translate" (click)="addSection('PV1')" class="mr-2"></button>
        <button pButton type="button" icon="pi pi-plus" label="RXR" [title]="'sections.rxr.title' | translate" (click)="addSection('RXR')" class="mr-2"></button>
      </div>

      <h4 class="mt-4 mb-2">{{ 'titles.sections' | translate }}</h4>
      <div class="d-flex">
        <div class="input-group filter px-2 ml-auto">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="pi pi-filter"></i>
            </div>
          </div>
          <p-autoComplete #filterBar
            (window:keydown.control.space)="handleFocusHotkey($event)"
            [(ngModel)]="selection" [suggestions]="filteredItems"
            [size]="60" [minLength]="2" [forceSelection]="true" [completeOnFocus]="true"
            inputStyleClass="filter-bar" field="title"
            [placeholder]="'actions.filter-fields' | translate"
            (completeMethod)="filterItems($event)" (onSelect)="handleSelection($event)">
            <ng-template let-item pTemplate="item">
              <div class="filter-item">
                <span [innerHTML]="item.id"></span>
                <small [innerHTML]="item.title"></small>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>
        <div class="text-right">
          <p-button icon="pi pi-angle-double-up" [title]="'actions.collapse-all' | translate" (onClick)="collapseAllSections()" styleClass="ui-button-secondary" class="ml-auto mr-0"></p-button>
        </div>
      </div>
      <div #sectionsPanel class="sections flex-fill">
        <div class="section" *ngFor="let item of sections">
          <section [section]="item" (remove)="handleRemoveSection($event)" (change)="handleChangeSection()"></section>
        </div>
      </div>
    </div>
    <div class="col">
      <h4 class="mb-2">{{ 'titles.hl7-message' | translate }}</h4>
      <textarea pInputTextarea class="hl7-textarea form-control mb-2" autoResize="autoResize" [(ngModel)]="hl7"></textarea>
      <div class="d-flex actions">
        <p-button icon="pi pi-eject" [label]="'actions.parse' | translate" (onClick)="parseHl7()" [disabled]="hl7 === expectedHl7" class="mr-2"></p-button>
        <p-button icon="pi pi-clone" [label]="'actions.copy-to-clipboard' | translate" (onClick)="copyHl7ToClipboard()" class="mr-2"></p-button>
        <p-button icon="pi pi-download" [label]="'actions.save-as-template' | translate" (onClick)="saveAsTemplate()" class="mr-auto" styleClass="ui-button-success"></p-button>
        <p-button *ngIf="validationErrors.length == 0" icon="pi pi-check" [label]="'validation.success' | translate" disabled="true" class="ml-auto mr-0" styleClass="ui-button-success"></p-button>
        <p-button *ngIf="validationErrors.length > 0" icon="pi pi-times" [label]="'validation.fail' | translate: { x: validationErrors.length }" (onClick)="openValidationDetails()" class="ml-auto mr-0" styleClass="ui-button-danger"></p-button>
      </div>
      <h4 class="mb-2 mt-4">{{ 'titles.templates' | translate }}</h4>
      <p-table #templatesTable [value]="templates" [paginator]="true" [rows]="15" [globalFilterFields]="['title']">
        <ng-template pTemplate="caption">
          <div class="text-left">
            <input type="text" pInputText size="50" [placeholder]="'templates.filter' | translate" (input)="templatesTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{ rowData.title }}</td>
            <td width="58"><button pButton type="button" icon="pi pi-upload" [title]="'actions.load' | translate" (click)="loadTemplate(rowData)"></button></td>
            <td width="58"><button pButton type="button" icon="pi pi-pencil" [title]="'actions.edit' | translate" (click)="editTemplate(rowData)" class="ui-button-warning"></button></td>
            <td width="58"><button pButton type="button" icon="pi pi-trash" [title]="'actions.remove' | translate" (click)="deleteTemplate(rowData)" class="ui-button-danger"></button></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
