<div class="row mb-3">
  <nav class="col navbar navbar-light bg-light justify-content-center">
    <a class="navbar-brand" href="#">{{ 'app-title' | translate }}</a>
  </nav>
</div>

<div class="row">
  <div class="col">
    <h4 class="mb-2">{{ 'actions.add' | translate }}</h4>
    <div class="add">
      <button pButton type="button" icon="pi pi-plus" label="MSH" [title]="'sections.msh.title' | translate" (click)="addSection('MSH')" class="mr-2"></button>
      <button pButton type="button" icon="pi pi-plus" label="PID" [title]="'sections.pid.title' | translate" (click)="addSection('PID')" class="mr-2"></button>
      <button pButton type="button" icon="pi pi-plus" label="PV1" [title]="'sections.pv1.title' | translate" (click)="addSection('PV1')" class="mr-2"></button>
    </div>

    <h4 class="mt-4 mb-2">{{ 'titles.sections' | translate }}</h4>
    <div class="sections">
      <div class="section" *ngFor="let item of sections">
        <section [section]="item" (remove)="handleRemoveSection($event)" (change)="handleChangeSection($event)"></section>
      </div>
    </div>
  </div>
  <div class="col">
    <h4 class="mb-2">{{ 'titles.hl7-message' | translate }}</h4>
    <textarea pInputTextarea class="hl7-textarea form-control mb-2" autoResize="autoResize" [(ngModel)]="hl7"></textarea>
    <button pButton type="button" icon="pi pi-eject" [label]="'actions.parse' | translate" (click)="parseHl7()" [disabled]="hl7 === expectedHl7"></button>
  </div>
</div>
