<div id="send" class="container-fluid d-flex flex-column align-items-stretch">
  <app-page-header></app-page-header>

  <div class="row">
    <div class="col">
      <h4 class="mb-2">{{ 'titles.hl7-message' | translate }}</h4>
      <textarea pInputTextarea class="hl7-textarea form-control mb-2" autoResize="autoResize" [(ngModel)]="hl7" (change)="handleHl7Change()"></textarea>
    </div>
    <div class="col">
      <h4 class="mb-2">{{ 'titles.send' | translate }}</h4>
      <div class="row">
        <div class="col-auto">
          <label for="method">{{ 'send.fields.method' | translate }}</label>
          <p-dropdown [options]="methodOptions" [(ngModel)]="selectedMethod" name="method" class="short"></p-dropdown>
        </div>
        <div class="col">
          <label for="method">{{ 'send.fields.endpoint' | translate }}</label>
          <input pInputText [(ngModel)]="endpoint" type="text" name="endpoint" />
        </div>
      </div>
    </div>
  </div>
</div>
