.hl7-textarea {
  min-height: 200px;
  width: 100%;
}

.col,
.col-auto {
  label {
    display: block;
  }
}

.col > input {
  width: 100%;
}

::ng-deep {
  .col-auto > p-dropdown.short .ui-dropdown {
    min-width: 90px;
  }
}
