.validation-errors-template {
  padding: 0.571em 1em;
  overflow-x: hidden;

  .index {
    font-weight: bold;
  }

  .details {
    h5 {
      font-size: 1.4em;
      margin-bottom: 0.1em !important;
    }
  }
}
