<div id="pageHeader" class="row mb-3">
  <nav class="col navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">{{ 'app-title' | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-fill">
        <li class="nav-item">
          <a class="nav-link" [class.active]="isHomePage" [routerLink]="['/']">{{ 'menu.build' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isSendPage" [routerLink]="['/send']">{{ 'menu.send' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isConfigurePage" [routerLink]="['/configure']">{{ 'menu.configure' | translate }}</a>
        </li>
        <li class="nav-item px-3 lang-select ml-auto mr-0">
          <select #langSelect (change)="translate.use(langSelect.value)" class="form-control">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
        </li>
      </ul>
    </div>
  </nav>
</div>
