<div class="field-input" [ngSwitch]="field.type" [attr.data-field-id]="field.id">
  <div *ngSwitchCase="'string'">
    <input
      pInputText
      [(ngModel)]="$any(field).value"
      type="text"
      (onchange)="handleChange()"
      class="focus-target" />
  </div>
  <div *ngSwitchCase="'number'">
    <p-inputNumber
      [(ngModel)]="$any(field).value"
      mode="decimal"
      [useGrouping]="false"
      [showButtons]="true"
      [min]="$any(field).acceptNegatives ? -999999999999 : 0"
      [minFractionDigits]="0"
      [maxFractionDigits]="$any(field).acceptFractions ? 20 : 0"
      (onchange)="handleChange()"
      class="focus-target">
    </p-inputNumber>
  </div>
  <div *ngSwitchCase="'date'">
    <p-calendar
      [(ngModel)]="$any(field).value"
      [monthNavigator]="true"
      [yearNavigator]="true"
      yearRange="1900:2050"
      (onSelect)="handleChange()"
      (onChange)="handleChange()"
      appendTo="body"
      inputStyleClass="focus-target">
    </p-calendar>
    <button pButton type="button" [label]="'actions.now' | translate" [title]="'actions.now' | translate" (click)="setNow()" class="ml-1"></button>
  </div>
  <div *ngSwitchCase="'datetime'">
    <p-calendar
      [(ngModel)]="$any(field).value"
      [monthNavigator]="true"
      [yearNavigator]="true"
      [showTime]="true"
      yearRange="1900:2050"
      (onSelect)="handleChange()"
      (onChange)="handleChange()"
      appendTo="body"
      inputStyleClass="focus-target">
    </p-calendar>
    <button pButton type="button" [label]="'actions.now' | translate" [title]="'actions.now' | translate" (click)="setNow()" class="ml-1"></button>
  </div>
  <div *ngSwitchCase="'options'">
    <p-dropdown
      [options]="$any(field).selectItems"
      [(ngModel)]="$any(field).value"
      [editable]="$any(field).editable"
      filter="true"
      (onChange)="handleChange()">
    </p-dropdown>
  </div>
  <div *ngSwitchCase="'multiple'">
    <div class="row">
      <div class="col-auto">
        <button *ngIf="!$any(field).showSubFields" pButton type="button" icon="pi pi-plus" [title]="'action.expand' | translate" (click)="$any(field).toggleSubFieldsDisplay()" class="ui-button-success"></button>
        <button *ngIf="$any(field).showSubFields" pButton type="button" icon="pi pi-chevron-up" [title]="'action.collapse' | translate" (click)="$any(field).toggleSubFieldsDisplay()" class="ui-button-secondary"></button>
      </div>
      <div class="col">
        <input
          *ngIf="!$any(field).showSubFields"
          pInputText
          [(ngModel)]="$any(field).value"
          type="text"
          (onchange)="handleChange()"
          class="focus-target" />
        <div *ngFor="let subfield of ($any(field).showSubFields ? $any(field).subfields : [])" class="row row-cols-3 subfield py-1">
          <div [ngClass]="{ 'col-1': $any(field).level === 1, 'col-2': $any(field).level > 1 }"><b>{{ subfield.fieldNumber }}</b></div>
          <div [ngClass]="{ 'col-4': $any(field).level === 1, 'col-6': $any(field).level > 1 }" [title]="subfield.i18n | translate">{{ subfield.i18n + '.name' | translate }}</div>
          <div class="col" class="focus-target">
            <app-field [field]="subfield" (change)="handleChange()"></app-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'repeat'">
    <div *ngFor="let subfield of $any(field).subfields" class="mb-2">
      <app-field [field]="subfield" (change)="handleChange()"></app-field>
    </div>
    <div class="repeat-buttons">
      <label class="mr-2">{{ 'actions.repeat' | translate }}</label>
      <button pButton type="button" icon="pi pi-minus" [title]="'action.remove' | translate" (click)="$any(field).removeSubfield();handleChange()" class="ui-button-danger mr-1"></button>
      <button pButton type="button" icon="pi pi-plus" [title]="'action.add' | translate" (click)="$any(field).addSubfield();handleChange()" class="ui-button-success mr-1"></button>
    </div>
  </div>
  <div *ngSwitchDefault>(unidentified type)</div>
</div>
