<div class="field" [ngSwitch]="field.type">
  <div *ngSwitchCase="'string'">
    <input pInputText [(ngModel)]="field.value" type="text" (onchange)="handleChange()" [minlength]="field.minLength" [maxlength]="field.minLength" />
  </div>
  <div *ngSwitchCase="'date'">
    <p-calendar [(ngModel)]="field.value" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050" (onSelect)="handleChange()" (onChange)="handleChange()"></p-calendar>
  </div>
  <div *ngSwitchCase="'datetime'">
    <p-calendar [(ngModel)]="field.value" [monthNavigator]="true" [yearNavigator]="true" [showTime]="true" yearRange="1900:2050" (onSelect)="handleChange()" (onChange)="handleChange()"></p-calendar>
  </div>
  <div *ngSwitchCase="'multiple'">
    <div class="row row-cols-3 subfield py-1" *ngFor="let subfield of field.subfields">
      <div class="col-1"><b>{{ subfield.number }}</b></div>
      <div class="col-4" [title]="subfield.i18n | translate">{{ subfield.i18n + '.name' | translate }}</div>
      <div class="col">
        <field [field]="subfield" (change)="handleChange()"></field>
      </div>
    </div>
  </div>
  <div *ngSwitchDefault>(unidentified type)</div>
</div>
