p-dropdown {
  display: block;
}

.repeat-buttons {
  button {
    font-size: 0.65em;
  }
}

::ng-deep {
  .ui-dropdown {
    min-width: 50%;

    .ui-dropdown-label-container {
      width: 100%;
    }
  }
}
