.hl7-textarea {
  min-height: 200px;
  width: 100%;
}

.sections .section {
  border-bottom: 1px solid #ddd;
}

.actions button {
  margin-right: .5rem !important;
}

.navbar {
  .configuration button {
    font-size: 0.98em;
  }
}

.ui-inputtext {
  width: 100%;
}

::ng-deep {
  p-chips {
    display: block;
    width: 100%;

    .ui-chips.ui-widget {
      width: 100%;

      & > .ui-inputtext {
        width: 100%;
        padding-bottom: 0.143em;

        .ui-chips-token,
        .ui-chips-input-token {
          margin-bottom: 0.286em;
        }
      }
    }
  }
}
