<div class="pid-section p-2" [attr.data-section-id]="section.id">
  <div class="header d-flex align-items-center">
    <h5 class="mr-auto">{{ section.type }} - {{ 'sections.' + section.type.toLowerCase() + '.title' | translate }}</h5>
    <button *ngIf="$any(section).generateData" pButton type="button" icon="pi pi-refresh" [title]="'actions.generate-data' | translate" (click)="handleGenerateData()" class="ui-button-warning mr-2"></button>
    <button *ngIf="!section.expanded" pButton type="button" icon="pi pi-chevron-down" [title]="'actions.expand' | translate" (click)="handleExpand()" class="mr-2"></button>
    <button *ngIf="section.expanded" pButton type="button" icon="pi pi-chevron-up" [title]="'actions.collapse' | translate" (click)="handleCollapse()" class="ui-button-secondary mr-2"></button>
    <button pButton type="button" icon="pi pi-trash" [title]="'action.remove' | translate" (click)="handleRemove()" class="ui-button-danger mr-0"></button>
  </div>
  <div class="fields" *ngIf="section.expanded">
    <div class="field" *ngFor="let field of section.fields" [attr.data-field-number]="field.number">
      <div class="header p-1">
        <button *ngIf="!field.expanded" pButton type="button" icon="pi pi-plus" [title]="'action.add' | translate" (click)="handleAddField(field.number)" class="ui-button-success mr-1"></button>
        <button *ngIf="field.expanded" pButton type="button" icon="pi pi-chevron-up" [title]="'action.remove' | translate" (click)="handleRemoveField(field.number)" class="ui-button-secondary mr-1" [disabled]="field.required"></button>
        <button pButton type="button" icon="pi pi-refresh" [title]="'action.generate-data' | translate" (click)="handleGenerateFieldData(field.number)" class="generate-field ui-button-warning mr-3" [disabled]="!field.valueGenerator"></button>
        <span class="tag mr-2">{{ section.type }}.{{ field.number }}</span>
        <span class="name">{{ field.i18n + '.name' | translate }}</span>
      </div>
      <div class="content p-1" *ngIf="field.expanded">
        <field [field]="field" (change)="handleChange()"></field>
      </div>
    </div>
  </div>
</div>
